# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Curly brackets'
      'command': 'brackets:curlybrackets'
    },
    {
      'label': 'Square brackets'
      'command': 'brackets:squarebrackets'
    },
    {
      'label': 'Parenthesis brackets'
      'command': 'brackets:parenthesis'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Brackets'
      'submenu': [
        {
          'label': 'Curly brackets'
          'command': 'brackets:curlybrackets'
        },
        {
          'label': 'Square brackets'
          'command': 'brackets:squarebrackets'
        },
        {
          'label': 'Parenthesis brackets'
          'command': 'brackets:parenthesis'
        }
      ]
    ]
  }
]
